In [1]:
import pandas as pd
import numpy as np

# Data Cleaning

In [2]:
data = pd.read_csv("insurance.csv")

In [4]:
data.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [8]:
data.duplicated().sum()

1

# Data Analysis

In [31]:
data.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [84]:
data.corr()

               age       bmi  children   charges
age       1.000000  0.109272  0.042469  0.299008
bmi       0.109272  1.000000  0.012759  0.198341
children  0.042469  0.012759  1.000000  0.067998
charges   0.299008  0.198341  0.067998  1.000000

In [10]:
data.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [85]:
data.groupby(by='age').mean().corr()

               bmi  children   charges
bmi       1.000000 -0.133242  0.589047
children -0.133242  1.000000 -0.095280
charges   0.589047 -0.095280  1.000000

In [86]:
data.groupby(by='bmi').mean().corr()

               age  children   charges
age       1.000000 -0.013460  0.253811
children -0.013460  1.000000  0.027109
charges   0.253811  0.027109  1.000000

In [24]:
data.groupby(by='smoker').corr()

                      age       bmi  children   charges
smoker
no     age       1.000000  0.122638  0.033395  0.627947
       bmi       0.122638  1.000000  0.019208  0.084037
       children  0.033395  0.019208  1.000000  0.138929
       charges   0.627947  0.084037  0.138929  1.000000
yes    age       1.000000  0.059674  0.081183  0.368224
       bmi       0.059674  1.000000 -0.012619  0.806481
       children  0.081183 -0.012619  1.000000  0.035945
       charges   0.368224  0.806481  0.035945  1.000000

In [25]:
data.groupby(by='region').corr()

                         age       bmi  children   charges
region
northeast age       1.000000  0.158684 -0.007530  0.300951
          bmi       0.158684  1.000000 -0.021209  0.231712
          children -0.007530 -0.021209  1.000000  0.067929
          charges   0.300951  0.231712  0.067929  1.000000
northwest age       1.000000  0.102804  0.063832  0.337654
          bmi       0.102804  1.000000  0.083024  0.181073
          children  0.063832  0.083024  1.000000  0.160382
          charges   0.337654  0.181073  0.160382  1.000000
southeast age       1.000000  0.019731  0.116481  0.310593
          bmi       0.019731  1.000000 -0.034462  0.142994
          children  0.116481 -0.034462  1.000000  0.046431
          charges   0.310593  0.142994  0.046431  1.000000
southwest age       1.000000  0.212355 -0.008655  0.258358
          bmi       0.212355  1.000000  0.065811  0.222928
          children -0.008655  0.065811  1.000000  0.028188
          charges   0.258358  0.222928  0.028188  1.000000

In [41]:
data.groupby(by='children').corr()

                       age       bmi   charges
children
0        age      1.000000  0.089737  0.325254
         bmi      0.089737  1.000000  0.174933
         charges  0.325254  0.174933  1.000000
1        age      1.000000  0.095777  0.309387
         bmi      0.095777  1.000000  0.192320
         charges  0.309387  0.192320  1.000000
2        age      1.000000  0.138421  0.217122
         bmi      0.138421  1.000000  0.245590
         charges  0.217122  0.245590  1.000000
3        age      1.000000  0.189027  0.284535
         bmi      0.189027  1.000000  0.226734
         charges  0.284535  0.226734  1.000000
4        age      1.000000  0.246192  0.190444
         bmi      0.246192  1.000000  0.167497
         charges  0.190444  0.167497  1.000000
5        age      1.000000  0.071903  0.724435
         bmi      0.071903  1.000000 -0.217619
         charges  0.724435 -0.217619  1.000000

In [32]:
data.groupby(by='sex').corr()

                      age       bmi  children   charges
sex
female age       1.000000  0.097214  0.078500  0.324575
       bmi       0.097214  1.000000  0.022151  0.161419
       children  0.078500  0.022151  1.000000  0.058492
       charges   0.324575  0.161419  0.058492  1.000000
male   age       1.000000  0.123088  0.008690  0.282369
       bmi       0.123088  1.000000  0.002385  0.225847
       children  0.008690  0.002385  1.000000  0.074496
       charges   0.282369  0.225847  0.074496  1.000000

In [83]:
print('Female: Percent of Sample + Average Charge')
print( len(data[ data['sex'] == 'female']) / len(data['sex']) )
print( data[ data['sex'] == 'female']['charges'].mean())

print()

print('Male: Percent of Sample + Average Charge')
print( len(data[ data['sex'] == 'male']) / len(data['sex']) )
print( data[ data['sex'] == 'male']['charges'].mean())

print()

print('Ratio for Female:Male')
print((len(data[ data['sex'] == 'female']) / len(data['sex'])) / (len(data[ data['sex'] == 'male']) / len(data['sex'])))
print( data[ data['sex'] == 'female']['charges'].mean() / data[ data['sex'] == 'male']['charges'].mean())

Female: Percent of Sample + Average Charge
0.4947683109118087
12569.57884383534

Male: Percent of Sample + Average Charge
0.5052316890881914
13956.751177721886

Ratio for Female:Male
0.9792899408284023
0.9006092237210057

In [79]:
print('Smoker: Percentage, Mean, Median')
print( (data['smoker'] == 'yes').sum() / len(data['smoker']) )
print( data[(data['smoker'] == 'yes')]['charges'].mean() )
print( data[(data['smoker'] == 'yes')]['charges'].median() )

print()

print('Non-Smoker: Percentage, Mean, Median')
print( (data['smoker'] == 'no').sum() / len(data['smoker']) )
print( data[(data['smoker'] == 'no')]['charges'].mean() )
print( data[(data['smoker'] == 'no')]['charges'].median() )

Smoker: Percentage, Mean, Median
0.20478325859491778
32050.23183153285
34456.348450000005

Non-Smoker: Percentage, Mean, Median
0.7952167414050823
8434.268297856199
7345.4053

In [72]:
# Grouping by age, charges is moderately correlated to bmi as age goes up.
# 

# Grouped by smoker status: being a non-smoker, charges and age are moderately correlated (0.627947)
#                           being a smoker, charges and bmi are strongly correlated (0.806481)
#                                           charges and age are weakly correlated (0.368224)

# Grouped by gender: only one percent difference between male and female population
#                    but female charges are 10% less than males

# Hypothesis: You get charged more if you are male vs female. Smoker vs non-smoker. 
# As a non-smoker, age is more strongly correlated with charges.
# As a smoker, bmi is strongly correlated with charges with age having a weak correlation